@{
    ViewData["Title"] = "About us";
}
<div class="text-white">

    <h2>About us</h2>
    <p>
        Hotels.com is a website for booking hotel rooms online and by telephone. The company has 85 websites in 34
        languages, and lists over 325,000 hotels in approximately 19,000 locations. Its inventory includes hotels and
        B&Bs, and some condos and other types of commercial lodging. Hotels.com was established in 1991 as the Hotel
        Reservations Network (HRN). In 2001, it became part of Expedia, Inc. and in 2002, changed its name to
        Hotels.com. The company is operated by Hotels.com LP, a limited partnership subsidiary located in Dallas, Texas,
        in the United States.
    </p>

    <h2>History</h2>
    <p>
        Hotels.com was established in 1991 by David Litman and Robert Diener as the Hotel Reservations Network (HRN),
        providing hotel booking via a toll-free phone number in the United States. In 2001, the company was acquired by
        USA
        Networks Inc (USAI) which also acquired a controlling interest in Expedia, the online travel booking company.

        After buying the domain name for approximately US$11M, HRN changed its name in 2002 to Hotels.com and launched
        the
        offline brand 1-800-2-Hotels as well as allowing hotel bookings on line. There followed a period of rapid
        international expansion with 29 sites added over the next two years. In 2003, USAI was renamed InterActiveCorp
        (IAC). In 2005 IAC separated its travel business under the name Expedia Inc. Hotels.com then became an operating
        company of Expedia Inc.

        International growth since 2002 has included web sites for North, Central and South America, Europe, Australia,
        Japan, China and the Pacific Rim, the Middle East and South Africa. Web sites for Indonesia and Vietnam launched
        in
        2011. Customers in all countries can book online or by phoning one of the multilingual call centers. Calls are
        both
        toll-free and paid, depending on the country of booking.

        In 2011, the site launched an iPad application and updated its mobile phone product on iPhone and Android.

        On December 1, 2016, Hotels.com took over Venere.com (another Expedia owned company).
    </p>
</div>