@{
    ViewData["Title"] = "Home Page";
}
<style>
    .yup,
    img {
        width: 300px;
    }
</style>
<div class="text-center">
    <h1 class="text-white">Explore Luxurious Hotels</h1>
    <div class="container d-flex justify-content-center">
        <div class="col">
            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://media.istockphoto.com/id/104731717/photo/luxury-resort.jpg?s=612x612&w=0&k=20&c=cODMSPbYyrn1FHake1xYz9M8r15iOfGz9Aosy9Db7mI="
                     alt="">
            </div>

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://samchui.com/wp-content/uploads/2018/07/St-Regis-Dubai-Luxury-Hotel-in-Dubai-Exterior-Shot.jpg"
                     alt="">
            </div>

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/106257638.jpg?k=4dd13a3f0f19081704cd50ee377462f2d13ea0662e577576e98bedc711005334&o=&hp=1"
                     alt="">
            </div>

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnaile rounded border border-warning border-5 p-0 m-0"
                     src="https://media.cntraveler.com/photos/6320d726fae6e445e2494b55/master/w_1600,h_1067,c_limit/nobu-hotel-london-portman-square-lobby-2-conde-nast-traveller-09dec20-jack-hardy.jpg"
                     alt="">
            </div>

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://content.r9cdn.net/res/images/horizon/ui/seoCommon/destinationtiles/seo_hotels.jpg?v=aeb8c67f83d5b9fd53ca97055fc8402800bf3ce4&cluster=4"
                     alt="">
            </div>
            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://www.themayflowerhotel.com/wp-content/uploads/sites/22/2019/10/the-mayflower-hotel-exterior-lights.jpg"
                     alt="">
            </div>


        </div>
        <div class="col">

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://media.istockphoto.com/id/185084845/photo/luxurious-hotel-room.jpg?s=612x612&w=0&k=20&c=m2ub3QHAb_lKb7yAduxi9gr7BXWGDp9pdh4Un7mJ5ds="
                     alt="">
            </div>

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://media.millenniumhotels.com/Live/B/2/8/B286539D-B2DC-45C2-AA6C-C357236F61FF/Studio%20Suite.jpg?r=220722034325"
                     alt="">
            </div>

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://hi-cdn.t-rp.co.uk/images/rooms/0/23731?width=750&height=400&crop=true" alt="">
            </div>
            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://3332e2ed775ffc11c828-f4ece2a221505de52cdc57e57a9b32da.ssl.cf1.rackcdn.com/hotel-colee/media/hotelcolee-images-07-615343c3ea583.jpg"
                     alt="">
            </div>
            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://image-tc.galaxy.tf/wijpeg-72guda5fgp2ngqefeljqpa82x/kingbedguestroom_standard.jpg?crop=107%2C0%2C1707%2C1280"
                     alt="">
            </div>

        </div>

        <div class="col">
            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://3332e2ed775ffc11c828-f4ece2a221505de52cdc57e57a9b32da.ssl.cf1.rackcdn.com/hotel-colee/media/hotelcolee-images-07-615343c3ea583.jpg"
                     alt="">
            </div>

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://www.manila-hotel.com.ph/wp-content/uploads/2020/06/TMH_Facade_1-optimized-e1598429179579.jpg"
                     alt="">
            </div>

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB4VflRDhT1wMbRrNdsvID2fn2WVTmKCRtcA&usqp=CAU"
                     alt="">
            </div>

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://www.angadartshotel.com/wp-content/uploads/2021/06/04195637/Angad-Arts-Hotel-4G3A5362-2-extandet-scaled.jpg"
                     alt="">
            </div>

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://media1.riverfronttimes.com/riverfronttimes/imager/u/original/36452616/screen_shot_2018-02-28_at_8.36.26_am.png"
                     alt="">
            </div>


        </div>
        <div class="col">
            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://www.planetware.com/wpimages/2020/01/best-underwater-hotels-muraka-conrad-maldives-rangali-island.jpg"
                     alt="">
            </div>

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://res.cloudinary.com/hzekpb1cg/image/upload/c_fit,w_592,f_auto/s3/public/prod/s3fs-public/compra-colchones_0.jpg"
                     alt="">
            </div>

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/900/450/75/vision-dam/digital/parks-platform/parks-global-assets/disneyland/resorts/disneys-grand-californian-hotel-and-spa/spa/Relaxation-Lounge-16x9.jpg?2021-11-01T16:41:40+00:00g"
                     alt="">
            </div>

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://www.ensanahotels.com/hotels/thermia-palace/1-the-hotel/exterior/image-thumb__1179__twitterImage/hotel-thermiapalace-exterior-buildingcloser_copy.webp"
                     alt="">
            </div>

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://www.thehari.com/hong-kong/wp-content/uploads/sites/5/2020/10/HariHK-3654-1024x851.jpg"
                     alt="">
            </div>
            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://media.istockphoto.com/id/104731717/photo/luxury-resort.jpg?s=612x612&w=0&k=20&c=cODMSPbYyrn1FHake1xYz9M8r15iOfGz9Aosy9Db7mI="
                     alt="">
            </div>

        </div>
        <div class="col">
            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://image-tc.galaxy.tf/wijpeg-72guda5fgp2ngqefeljqpa82x/kingbedguestroom_standard.jpg?crop=107%2C0%2C1707%2C1280"
                     alt="">
            </div>

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAqIoHZRbnep5KzHJ-X9IbPpju9YIsf__8W0PMK_aI3U6To1Vnt0gPpeNwJSUPCS9bUvE&usqp=CAU"
                     alt="">
            </div>

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://pix10.agoda.net/hotelImages/22929845/0/663323a9abfa122af7a33d9fb7f588fa.jpg?ca=23&ce=0&s=1024x768"
                     alt="">
            </div>

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://www.thegeorgelichfield.co.uk/assets/galleries/hotel/ac7c34b95e/The-George-Hotel-in-Lichfield-Hotel-Exterior__FocusFillWzE5MjAsODAwLCJ5IiwyNDBd_ScaleMaxWidthWzE5MjBd.jpg"
                     alt="">
            </div>

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://www.the-yeatman-hotel.com/fotos/imagens_ambiente/bacchus_suite_banner_22088944859107d2c39064_5738536455c1bbf491b7ef.jpg"
                     alt="">
            </div>

            <div class="row-sm yup p-1 m-0">
                <img class="img-thumbnail rounded border border-warning border-5 p-0 m-0"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZoU1F5H8FSPCn42ODceBpg8Uog_M6d26VtA&usqp=CAU"
                     alt="">
            </div>

        </div>
    </div>
</div>

</div>
