@using Lab_10.Models;
@model IEnumerable<Hotel>
    @{
    ViewData["Title"] = "Hotels";
}
<div class="container">
    <div >
        <a class="text-white bg-primary rounded-circle text-decoration-none p-3 m-5 position-absolute top-0 end-0" style="width:50px;height:50px;text-align:center;" asp-controller="Hotel" asp-action="Create">+</a>
    </div>

    <br /><br />
    <div class="" style=" display: grid;grid-template-columns: 1fr 1fr 1fr;">
        @foreach (var hotel in Model)
        {
            <div class="card bg-warning m-3 p-3" style="width: 18rem; border-radius: 30px">
                <a class="text-white bg-danger rounded-circle text-decoration-none p-2 m-1 position-absolute top-0 end-0" asp-controller="Hotel" asp-action="Delete" asp-route-id=@hotel.id>x</a>
                <img src=@hotel.imgURL class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@hotel.name</h5>
                <div>
                @for(var i = 0;i< hotel.rating;i++)
                {
                        <img src="./Star.png" style="width:20px;" />
                }
                </div>
                <p class="card-text">Location: @hotel.location</p>
                    <a class="btn btn-primary w-100" asp-controller="Hotel" asp-action="getHotel" asp-route-id=@hotel.id>view</a>
                </div>
            </div>
        }
        </div>

    
</div>
